.bg-emerald-500, .bg-emerald-600 {
  --tw-bg-opacity: 1;
  background-color: #3F51B5 !important;
}

.border-emerald-500 {
  --tw-border-opacity: 1;
  border-color: #3F51B5 !important;
}

.bg-emerald-700 {
  background-color: #22349d !important;
}